<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header" th:remove="tag">
    <header class="container-fluid site-header">
        <nav>
            <ul>
                <li><a th:href="@{/}"><h1><b>ProProjects</b></h1></a></li>
            </ul>

            <ul th:unless="${isLoggedIn}">
                <li>
                    <a role="button" th:href="@{/login}">Log på</a>
                </li>
            </ul>

            <ul th:if="${isLoggedIn}">
                <li>
                    <div role="group">
                        <a role="button" class="contrast outline" th:href="@{/projects}">Projekter</a>
                        <a role="button" class="secondary" th:href="@{/user_admin}" th:text="${userEmail}">User</a>
                        <a role="button" th:href="@{/logout}">Log ud</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
</div>
</body>
</html>