<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="projectNav(project)" th:remove="tag">
    <nav>
        <ul>
            <li>
                <a th:href="@{/projects/{projectId}(projectId=${project.projectId})}"><h1 th:text="${project.title}">Project title</h1></a>
            </li>
        </ul>

        <ul>
            <li>
                <div role="group">
                    <a role="button" class="contrast"
                       th:href="@{/projects/{projectId}/hour_distribution(projectId=${project.projectId})}">Timefordeling</a>
                    <a role="button" class="contrast"
                       th:href="@{/projects/{projectId}/team(projectId=${project.projectId})}">Team</a>
                    <a role="button" class="secondary"
                       th:href="@{/projects/{projectId}/edit(projectId=${project.projectId})}">Rediger projekt</a>
                    <a role="button" th:href="@{/tasks/{projectId}/create(projectId=${project.projectId})}">+ Opgave</a>
                    <a role="button" th:href="@{/projects/{parentId}/create(parentId=${project.projectId})}">+
                        Delprojekt</a>
                </div>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>