<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="recursiveTableRows(taskList, currentDepth)" th:remove="tag">
    <th:block th:each="task : ${taskList}">
        <tr>
            <td>
                <span th:style="'margin-left: ' + (${currentDepth} * 20) + 'px;'"></span>
                <a th:href="@{/tasks/{taskId}(taskId=${task.taskId})}" th:text="${task.title}">Task Title</a>
            </td>

            <td th:text="${#temporals.format(task.startDate)}">Start Date</td>
            <td th:text="${#temporals.format(task.endDate)}">End Date</td>
            <td>
                <span th:attr="data-tooltip=${!task.subTasks.isEmpty()} ? 'Viser summen af estimerede timer på denne opgaves underopgaver' : null"
                      th:text="${#numbers.formatDecimal(task.estimatedHours, 1, 2)}">Estimated Hours</span>
            </td>
            <td>
                <span th:attr="data-tooltip=${!task.subTasks.isEmpty()} ? 'Viser summen af tid registreret på denne opgave og dens underopgaver' : null"
                      th:text="${#numbers.formatDecimal(task.actualHours, 1, 2)}">Actual Hours</span>
            </td>
            <td th:text="${task.status}">Status</td>
        </tr>

        <th:block th:unless="${task.subTasks.isEmpty()}">
            <th:block
                    th:insert="~{this :: recursiveTableRows(taskList=${task.subTasks}, currentDepth=${currentDepth + 1})}">
            </th:block>
        </th:block>
    </th:block>
</div>
</body>
</html>