<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skift password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link th:href="@{/css/pico.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>

<main class="container-fluid">
    <div>
        <div>
            <div>
                <h1>Skift password</h1>
                <p>Opdater dit password for at holde din konto sikker</p>
            </div>

            <form method="post" th:action="@{/change_password}">
                <div th:if="${updateFailure}">🚫 Noget gik galt. Prøv igen.</div>

                <div>
                    <label for="pw">Nuværende password</label>
                    <input id="pw" type="password" name="password" placeholder="Indtast dit nuværende password" required/>
                    <div th:if="${incorrectPassword}">🚫 Forkert password.</div>
                </div>

                <div>
                    <label for="newPw">Nyt password</label>
                    <input id="newPw" type="password" name="newPassword" placeholder="Vælg et nyt password" required/>
                    <div th:if="${passwordTooShort}">🚫 Password skal være mindst 6 tegn</div>
                </div>

                <div>
                    <label for="confirmPw">Gentag nyt password</label>
                    <input id="confirmPw" type="password" name="confirmNewPassword" placeholder="Gentag dit nye password" required/>
                    <div th:if="${passwordMismatch}">🚫 Passwords matcher ikke.</div>
                </div>

                <div>
                    <button type="submit">Gem nyt password</button>
                    <a role="button" class="secondary" th:href="@{/user_admin}">Annuller</a>
                </div>
            </form>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>