<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Projekt | ' + ${project.title}">Projekt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link th:href="@{/css/pico.pink.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>

<main class="container-fluid">
    <th:block th:replace="~{fragments/project_nav :: projectNav(${project})}"></th:block>

    <p th:text="${project.description}"></p>
    <p th:text="${'Periode: '+ #temporals.format(project.startDate) + ' - ' + #temporals.format(project.endDate)}">
        Period</p>
    <p th:text="${'Estimerede/faktiske timer: ' + project.estimatedHours + '/' + project.actualHours}"></p>

    <section th:unless="${project.subProjects.isEmpty()}">
        <h3>Delprojekter</h3>
        <th:block th:replace="~{fragments/project_accordion :: recursiveList(projectList=${project.subProjects}, currentDepth=0)}">...</th:block>
    </section>

    <section th:unless="${project.tasks.isEmpty()}">
        <h3>Projektopgaver</h3>
        <div class="overflow-auto">
            <table>
                <thead>
                <tr>
                    <th>Opgave</th>
                    <th>Arbejdsdage</th>
                    <th>Startdato</th>
                    <th>Slutdato</th>
                    <th>Estimerede timer</th>
                    <th>Faktiske timer</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:replace="~{fragments/task_table :: recursiveTableRows(taskList=${project.tasks}, currentDepth=0)}"></th:block>
                </tbody>
            </table>

        </div>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>