<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${project.title}">Projekt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link th:href="@{/css/pico.pink.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>

<main class="container-fluid">
    <div>
        <h1 th:text="${project.title}">Project title</h1>
    </div>

    <section>
        <h2>Projektopgaver</h2>
        <div th:replace="fragments/recursiveTaskList :: recursiveTaskList(${project.tasks})">...</div>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>