<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link th:href="@{/css/pico.pink.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>

<main class="container-fluid">
    <table>
        <thead>
        <tr>
            <th>Dato:</th>
            <th>Estimerede timer:</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${hourDistributionMap}">
            <td th:text="${#temporals.format(entry.key)}"></td>
            <td th:text="${#numbers.formatDecimal(entry.value, 1, 2)}"></td>
        </tr>
        </tbody>
    </table>
</main>

<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>