<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projektteam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link th:href="@{/css/pico.pink.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>

<main class="container-fluid">
    <th:block th:replace="~{fragments/project_nav :: projectNav(${project})}"></th:block>

    <section th:if="${!directProjectUsers.isEmpty()}">
        <h3>Direkte Teammedlemmer</h3>

        <div class="overflow-auto">
            <table>
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Titel</th>
                    <th>E-mail</th>
                    <th>Rolle</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user: ${directProjectUsers.keySet()}">
                    <tr>
                        <td th:text="${user.name}">Name</td>
                        <td th:text="${user.title}">Title</td>
                        <td th:text="${user.email}">Email</td>
                        <td th:if="${user.userId == project.ownerId || userRole != 'OWNER'}" th:text="${directProjectUsers.get(user)}">Role</td>
                        <td th:unless="${user.userId == project.ownerId || userRole != 'OWNER'}">
                            <form th:action="@{/projects/{projectId}/team/{userId}/update_role(projectId=${project.projectId}, userId=${user.userId})}"
                                  method="post">
                                <fieldset role="group">
                                    <select name="role" required>
                                        <option th:each="projectRole: ${projectRoles}"
                                                th:value="${projectRole.role}"
                                                th:text="${projectRole.roleName}"
                                                th:selected="${projectRole.role == directProjectUsers.get(user).role}">
                                        </option>
                                    </select>
                                    <button type="submit">Opdater</button>
                                </fieldset>
                            </form>
                        </td>
                        <td th:if="${user.userId != project.ownerId}">
                            <form th:if="${userRole == 'OWNER'}"
                                  th:action="@{/projects/{projectId}/team/{userId}/remove(projectId=${project.projectId}, userId=${user.userId})}"
                                  method="post">
                                <button type="submit"
                                        onclick="return confirm('Er du sikker på at du fjerne denne bruger fra projektet?')">
                                    Fjern
                                </button>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </section>

    <section th:if="${!inheritedProjectUsers.isEmpty()}">
        <h3>Nedarvede Teammedlemmer</h3>

        <div class="overflow-auto">
            <table>
                <thead>
                <tr>
                    <th>Navn</th>
                    <th>Titel</th>
                    <th>E-mail</th>
                    <th>Rolle</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user: ${inheritedProjectUsers.keySet()}">
                    <tr>
                        <td th:text="${user.name}">Name</td>
                        <td th:text="${user.title}">Title</td>
                        <td th:text="${user.email}">Email</td>
                        <td th:text="${inheritedProjectUsers.get(user)}">Role</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </section>

    <section th:if="${userRole == 'OWNER'}">
        <h3>Tilføj medlem til projekt:</h3>
        <div th:if="${addErrorMessage}" th:text="${addErrorMessage}"></div>
        <form th:action="@{/projects/{projectId}/team/add(projectId=${project.projectId})}" th:method="post">
            <fieldset role="group">
                <input name="email" type="email" placeholder="E-mail" list="email-list" required/>
                <datalist id="email-list">
                    <option th:each="user: ${allUsers}" th:value="${user.email}">
                </datalist>
                <select id="role" name="role" required>
                    <option value="" disabled selected>Vælg rolle…</option>
                    <option th:each="projectRole: ${projectRoles}"
                            th:value="${projectRole.role}"
                            th:text="${projectRole.roleName}">Role
                    </option>
                </select>

                <button type="submit">Tilføj</button>
            </fieldset>
        </form>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>