<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Opgave | ' + ${task.title}">Opgave</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link th:href="@{/css/pico.pink.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>

<main class="container-fluid">
    <th:block th:replace="~{fragments/task_nav :: taskNav(${task})}">...</th:block>

    <section>
        <article th:text="${task.description}"></article>
    </section>

    <section th:unless="${task.subTasks.isEmpty()}">
        <h3>Underopgaver</h3>
        <div th:replace="~{fragments/task_list :: recursiveList(${task.subTasks})}">...</div>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>